.vscode
node_modules
/k8s
public
storybook-static
src/
.storybook
/storybook-static
storybook-static/*
.babelrc.json
.editorconfig
.env.development
.env.production
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.prettierignore
.prettierrc.json
.stylelintignore
.stylelintrc.json
.svgorc.json
tsconfig.build.json
tsconfig.json
yarn.lock

DevOps-CoE.yml
Dockerfile
Dockerfile.old
.dockerignore
.scannerwork
